<header
  class="header"
  [style.backgroundImage]="finalImageUrl"
  [class.fullHeight]="isFull"
>
  <div class="overlay"></div>
  <div class="container">
    <div class="row text-center">
      <div class="col-md-10 col-lg-8 mx-auto position-relative">
        <div class="site-heading" [class.text-start]="isFull">
          <h1>{{ heading || "ORESTE blogs" }}</h1>
          <span class="subheading">
            {{ subheading || "Collection of blogs written by" }}
            <a
              *ngIf="!subheading"
              style="color: rgba(255, 255, 255, 0.3)"
              href="https://www.oresteabizera.tech"
              target="_blank"
              >me</a
            >
          </span>
        </div>
      </div>
    </div>
  </div>
</header>
